# venv dependencies
mkdocs
mkdocs-material
mkdocs-jupyter
pyyaml

mkdocstrings[python]
mkdocs-table-reader-plugin
nbconvert
pandas
mkdocs-awesome-pages-plugin
cairosvg
pillow
mkdocs-glightbox

# for phase1_prep
openpyxl
datasets
jupyter
ipywidgets
python-dotenv

# for phase2_conversion
openai
pandas
pydantic

# for phase4_inference
lm_eval 
